div.slide {
    height:800px;
    width:900px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top:50px;
    text-align:center;
    
}

div.separator {
    height:800px;
    width:800px;
    margin: 0 auto;
    background-position:center center;
}

div.separator2 {
    height:800px;
    width:800px;
    margin: 0 auto;
    background-position:center center;
}


div.text {
    font-family: Arial, sans-serif;
}

div.slidemenu {
    height: 650px;
    width:100px;
    float: right;
    margin: 0px;
    background:white;
    border-top: 5px solid #90a5ff;
    border-bottom: 5px solid #90a5ff;
    border-right: 5px solid #90a5ff;
}

div.smenu_next {
    text-align: center;
}

div.smenu_prev {
    text-align: center;
}

div.smenu_top {
    text-align: center;
}

div.title {
    width:100%;
}

div.base {
    width: 100%;
    height: 800%;
    margin-top:0px;
    padding:0px;
} 

body {
    padding-top:0px;
    margin:0px;
    background: url('../images/nuvola1.jpg') repeat;
    background-attachment:fixed;
    background-position: -100px -200px;
}

a {
    margin:0px;
}

div.content {
    width:790px;
    height:650px;
    background-color: white;
    background-image: url('../images/sl_back.jpg');
    background-position:center center; 
    background-repeat: no-repeat no-repeat;
    float:left;
    border: 5px solid #90a5ff;
    border-right: 0px;
}

div.cont_first {
    width:900px;
    height:700px;
    background-color: white;
    background-image: url('../images/sl_back.jpg');
    background-position:center center; 
    background-repeat: no-repeat no-repeat;
    border: 5px solid #90a5ff;
}


#cont_sl0 {
    
}

#wrapper { 
    width:100%; 
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

p {
    color: #444;
    margin 10px;
}

h1 {
    color: #ff9227;
    font-family: "Arial", serif;
    font-weight:bold;
    font-size:50px;
    font-variant:small-caps;
    text-shadow: gray 0px 0px 5px;
    margin-top: 0px;
}

h3 {
    color: #ff9227;
    font-family: "Arial", serif;
    font-weight:bold;
    font-size:30px;
    font-variant:small-caps;
    text-shadow: gray 0px 0px 5px;
    margin-top: 0px;
    margin-left:20px;
}

div.logo{
    background-image:url('../images/logo9.png');
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    position: fixed;
    width:100%;
    height:700px;
}
