div.slide {
    height:800px;
    width:800px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top:10px;
    text-align:center;
    
}

div.separator {
    height:570px;
    width:800px;
    margin: 0 auto;
    background-position:center center;
}

div.separator2 {
    height:570px;
    width:800px;
    margin: 0 auto;
    background-position:center center;
}




div.slidemenu {
    height: 50px;
    width: 400px;
    margin: 0px;
    background:white;
    border-bottom-right-radius:8px;
    -webkit-border-bottom-right-radius:8px;
    -moz-border-radius-bottomright:8px;
}

div.smenu_next {
    text-align: center;
    margin: 0 auto;
}

div.smenu_prev {
    text-align: center;
    float: right;
    margin-right:20px;
}

div.smenu_top {
    text-align: center;
    float: left;
    margin-left:20px;
}

div.jump {
    height:120px;
    width: 400px;
    background:white;
    border-bottom-right-radius:8px;
    -webkit-border-bottom-right-radius:8px;
    -moz-border-radius-bottomright:8px;
}



div.base {
    width: 100%;
    height: auto;
    margin-top:0px;
    padding:0px;
    padding-bottom: 200px;
    background: url('../images/footer_roma.png') no-repeat bottom center;
} 

body {
    padding-top:0px;
    margin:0px;
    background-attachment:fixed;
    background-position: -100px -200px;
}

a {
    margin:0px;
border:0px;
}

img {
    border:0px;
}

div.image {
    width:400px;
    height:100%;
    float:left;
    margin:0px;
    background:#444;
    box-shadow: black 0px 0px 5px;
    -moz-box-shadow: black 0px 0px 5px;
    -webkit-box-shadow: black 0px 0px 5px;
}

div.right {
    width:400px;
    height:100%;
    float:right;
    margin:0px;
}
    
div.text {
    font-family: Arial, sans-serif;
    width:380px;
    height:400px;
    background: white;
    padding:10px;
    border-top-right-radius:8px;
    -webkit-border-top-right-radius:8px;
    -moz-border-radius-topright:8px;
}


div.title {
    width:375px;
    height:70px;
    background: gray url('../images/back_tit.jpg') repeat-x ;
    text-align:right;
    margin:0px;
    margin-top:25px;
    border-top-right-radius:8px;
    -webkit-border-top-right-radius:8px;
    -moz-border-radius-topright:8px;
}

div.text_main {
    font-family: Arial, sans-serif;
    width:380px;
    height:330px;
    background: white;
    padding:10px;
    border-top-right-radius:8px;
    -webkit-border-top-right-radius:8px;
    -moz-border-radius-topright:8px;
}



div.content {
    width:800px;
    height:600px;
}

div.cont_first {
    width:800px;
    height:530px;
    background: white;
    border: 5px solid #90a5ff;    
    border-bottom:0px;
}


#wrapper { 
    width:100%; 
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

p {
    color: #444;
    padding: 0px;
    text-align:left;
    font-size:12px;
    margin: 10px;
    margin-bottom:15px;
}

h1 {
    color: #ff9227;
    font-family: "Arial", serif;
    font-weight:bold;
    font-size:30px;
    font-variant:small-caps;
    text-shadow: black 0px 0px 5px;
    margin-top: 0px;
    margin-right: 10px;
}

h3 {
    color: #71ff66;
    font-family: "Arial", serif;
    font-weight:bold;
    font-size:25px;
    font-variant:small-caps;
    text-shadow: black 0px 0px 5px;
    margin:0px;
    margin-right:20px;
}

div.logo{
    background: url('../images/logo9.png') no-repeat center 100px fixed;
    position: fixed;
    width:100%;
    height:700px;
}
