div.slide {
    background: red;
    height:800px;
    width:800px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 50px;
    border: 1px solid black;
}

div.separator {
    height:400px;
    width:800px;
    margin: 0 auto;
}

div.slidemenu {
    height: 100px;
    width:800px;
    margin: 0 auto;
}

div.base {
    background:#999999;
    margin-top:0px;
    padding:0px;
} 

body {
    padding-top:0px;
    margin:0px;
}

a {
    margin:0px;
}
